$border-button: 1px solid #888;

.button{
    background: #f0f0f0;
    border: none;
    border-bottom: $border-button;
    border-right: $border-button;
    font-size: 1.4em;
    outline: none;

    &:active{
        background: #ccc;
    }

    &.double{
        grid-column: span 2;
    }

    &.triple{
        grid-column: span 3;
    }

    &.operation{
        background: #fa8231;
        color: #ffffff;

        &:active{
            background: #fa8231cc;
        }
    }
}